TAGS
*~
.AndroidStudio1.2/
.activator/
.android/
.bash_history
.bypy/
.cache/
.ccase_wvreg
.cordova/
.eclipse/
.emacs.d/
.freemind/
.gfclient/
.gnupg/
.gradle/
.ivy2/
.jmc/
.lesshst
.local/
.m2
.minttyrc
.mysql_history
.nbprofiler/
.oracle_jre_usage/
.plugman/
.python_history
.sbt/
.sdb/
.scala_history
.scalaide/
.*~
.server_reg
.server_reg.created
.swt/
AppData/
Application Data
CMB/
Contacts/
Cookies
Desktop/
Documents/
Downloads
Favorites/
Links/
Local Settings
Music/
My Documents
NTUSER.DAT
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TM.blf
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TM.blf
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.0.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.1.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.2.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.blf
Start Menu
NetHood
OneDrive/
org
Pictures/
PrintHood
Recent
Saved Games/
Searches/
SendTo
Templates
Tracing/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
ntuser.pol
sybase/
.bash_history
.gem/
.history
.inputrc
.ivy2/
.local/
.minttyrc
.my.cnf
.mysql_history
.rnd
.ssh/
.w3m/
learn_python/
vpn
vpn_no

.VirtualBox/
.bash_profile.bak
.bashrc.bak
.dnx/
.emacs.d.bak.company.laptop.zip
.emacs.d.bak.home.zip
.freetdsconf
.git.bak.i062289.home.zip
.gitignore_global
.inputrc.bak
.ionic/
.my.cnf
.nuget/
.p2/
.sqlshell/
.squirrel-sql/
.tidyrc
bin/
git_conf/
git_repos/
migration_script.sql
npm-debug.log
workspace/
