.android/
.bash_history
.bypy/
.cache/
.gnupg/
.ivy2/
.local/
.minttyrc
.mysql_history
.oracle_jre_usage/
.python_history
.sbt/
.scala_history
.scalaide/
.*~
AppData/
Application Data
CMB/
Contacts/
Cookies
Desktop/
Documents/
Downloads
Favorites/
Links/
Local Settings
Music/
My Documents
NTUSER.DAT
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TM.blf
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TM.blf
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TMContainer00000000000000000002.regtrans-ms
Start Menu
NetHood
OneDrive/
org
Pictures/
PrintHood
Recent
Saved Games/
Searches/
SendTo
Templates
Tools
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
「开始」菜单


