TAGS
*~
*.bak
.AndroidStudio1.2/
.VirtualBox/
.Xauthority
.activator/
.android/
.bash_history
.bypy/
.cache/
.ccase_wvreg
.config/
.cordova/
.dbus/
.dnx/
.eclipse/
.emacs.d/
.emacs.d.bak.company.laptop.zip
.emacs.d.bak.home.zip
.freemind/
.freetdsconf
.gem/
.gfclient/
.git.bak.i062289.home.zip
.gitignore_global
.gnupg/
.gnupg/
.gradle/
.history
.inputrc
.ionic/
.ipython/
.ivy2/
.jmc/
.jupyter/
.lesshst
.local/
.m2
.matplotlib/
.minttyrc
.my.cnf
.mysql_history
.nbprofiler/
.node_repl_history
.nuget/
.oracle_jre_usage/
.p2/
.plugman/
.python_history
.rnd
.sbt/
.sdb/
.scala_history
.scalaide/
.sbt/
.serverauth.*
.sqlshell/
.squirrel-sql/
.xsession-errors
.server_reg
.server_reg.created
.swt/
.ssh/
.tidyrc
.viminfo
.w3m/
AppData/
Application Data
CMB/
CMLogger0.log
Contacts/
Cookies
Desktop/
Documents/
Downloads
Favorites/
IntelGraphicsProfiles/
Links/
Local Settings
Music/
My Documents
NTUSER.DAT
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TM.blf
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a70100f6-ab99-11e5-b48b-8cacfbaba04d}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TM.blf
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{62e13464-7ee5-11e5-80c4-a4badb40df56}.TMContainer00000000000000000002.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.0.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.1.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.2.regtrans-ms
NTUSER.DAT{62e13463-7ee5-11e5-80c4-a4badb40df56}.TxR.blf
NTUSER.DAT{bf54a94f-2704-11e5-80db-e41d2d743300}.TM.blf
NTUSER.DAT{bf54a94f-2704-11e5-80db-e41d2d743300}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{bf54a94f-2704-11e5-80db-e41d2d743300}.TMContainer00000000000000000002.regtrans-ms
Start Menu
NetHood
OneDrive/
Pictures/
PrintHood
Recent
Saved Games/
Searches/
SendTo
Templates
Tracing/
Videos/
bin/
git_conf/
git_repos/
learn_python/
migration_script.sql
npm-debug.log
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
ntuser.pol
org
pip.list
pip.list.ZILESAVE
sybase/
vpn
vpn_no
「开始」菜单
workspace/

